:root
{
    --hexagon_big: 65px;
    --hexagon_normal: 50px;
    --hexagon_small: 40px;
    --hexagon_smaller: 30px;
}
.hexsizebig
{
    --hexboxsize: var(--hexagon_big) !important;
}

.hexsizesmall
{
    --hexboxsize: var(--hexagon_small) !important;
}
.hexsizesmaller
{
    --hexboxsize: var(--hexagon_smaller) !important;
}

body {
    background-color: black !important;
    position: relative;
    overflow-x: hidden;
}

header {
    position: sticky;
    display: flex;
    top: 0px;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    z-index: 100;
    background-color: black;
}
nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
nav.graphics {
    width: 250px;
}
nav.links {
    width: 50%;
}
nav a, nav a:hover, nav a:visited
{
    color: white;
    text-decoration: none;
}

main
{
    height: calc(100vh - 40px);
}


h1{
    width: fit-content;
    background-color: #aeebd7;
    position: relative;
    text-align: center;
    padding: 10%;
}
div {
  background-color: transparent;
}
.acces {
    position: relative;
    display: flex;
    color: white;
}
div.outerhexbox
{
    --hexboxsize: var(--hexagon_normal);
}
div.innerhexbox,
div.outerhexbox:before, div.outerhexbox:after,
div.innerhexbox:before, div.innerhexbox:after
{
    --hexboxsize: inherit;
}



div.outerhexbox 
{
    align-items: center;
    position: absolute;
    top: 200px;  
    text-align: center;
    background-color: aquamarine;
    width: var(--hexboxsize);
    margin-left: 1px;
    height: calc(var(--hexboxsize)*1.7320508075688772935274463415059);
    z-index: -2;
}
div.outerhexbox:before 
{
    content: " ";
    position: absolute;
    top: 0px;
    left: calc(-1* var(--hexboxsize)/2 - 2px);
    border-right: calc(var(--hexboxsize)/2 + 2px) solid aquamarine;
    border-top: calc((var(--hexboxsize)*1.7320508075688772935274463415059)/2) solid transparent;
    border-bottom: calc((var(--hexboxsize)*1.7320508075688772935274463415059)/2) solid transparent;
    width: 0; height: 0;
    z-index: -2;
}
div.outerhexbox:after
{
    content: " ";
    position: absolute;
    top: 0px;
    left: var(--hexboxsize);
    border-left: calc(var(--hexboxsize)/2 + 2px) solid aquamarine;
    border-top: calc((var(--hexboxsize)*1.7320508075688772935274463415059)/2) solid transparent;
    border-bottom: calc((var(--hexboxsize)*1.73205080756887729352744634150599)/2) solid transparent;
    width: 0; height: 0;
    z-index: -2;
}
div.innerhexbox
{
    position: relative;
    text-align: center;
    background-color: black;
    width: calc(var(--hexboxsize) - 4px);
    height: calc(var(--hexboxsize)*1.7320508075688772935274463415059 - 8px);
    margin-left: 2px;
    margin-top: 4px;

}
div.innerhexbox:before
{
    content: " ";
    position: absolute;
    top: 0px;
    left: calc(-1*(var(--hexboxsize) - 4px)/2 - 2px);
    border-right: calc((var(--hexboxsize) - 4px)/2 + 2px) solid black;
    border-top: calc((var(--hexboxsize)*1.7320508075688772935274463415059 - 8px)/2) solid transparent;
    border-bottom: calc((var(--hexboxsize)*1.7320508075688772935274463415059 - 8px)/2) solid transparent;
    width: 0; height: 0;
    z-index: -1;
}
div.innerhexbox:after
{
    content: " ";
    position: absolute;
    top: 0px;
    left: calc((var(--hexboxsize) - 4px));
    border-left: calc((var(--hexboxsize) - 4px)/2 + 2px) solid black;
    border-top: calc((var(--hexboxsize)*1.7320508075688772935274463415059 - 8px)/2) solid transparent;
    border-bottom: calc((var(--hexboxsize)*1.7320508075688772935274463415059 - 8px)/2) solid transparent;
    width: 0; height: 0;
    z-index: -1;
}
#data {
    top: 0px;
    left: 120px;
}
#zapis{ 
    top: 50px;
    left: 200px;
}
#odliczanie {
    top: 0px;
    left: 280px;
}

div.outerhexbox:hover, 
div.outerhexbox:hover div.outerhexbox:before,
div.outerhexbox:hover div.outerhexbox:after
{
    background-color: white;
}

div.banner_outer, div.banner_inner
{
    position: relative;
    width: 0px;
    height: 50px;
    margin: auto;
    background-color: black;
}
div.banner_outer
{
    margin-bottom: 120px;
}
div.banner_title_outer
{
    position: absolute;
    width: 220px;
    height: 60px;
    background-color: aquamarine;
    margin-left: calc(50% - 110px);
    margin-top: 28px;
}
div.banner_title_inner
{
    position: absolute;
    width: 212px;
    height: 57px;
    background-color: black;
    margin-left: 4px;
    margin-top: 3px;
}
div.banner_outer:after 
{
    content: " ";
    position: absolute;
    width: 1800px;
    top: 0px;
    left: -900px;
    border-top: 109px solid aquamarine;
    border-left: 900px solid transparent;
    border-right: 900px solid transparent;
    margin: 0px;
    z-index: -2;
}
div.banner_inner:after 
{
    content: " ";
    position: absolute;
    width: 1800px;
    top: -5px;
    left: -900px;
    border-top: 109px solid black;
    border-left: 900px solid transparent;
    border-right: 900px solid transparent;
    margin: 0px;
    z-index: -1;
}
div.banner_title_outer:before
{
    content: " ";
    position: absolute;
    top: 0px;
    left: -30px;
    border-top: 60px solid transparent;
    border-right: 30px solid aquamarine;
    margin: 0px;
}
div.banner_title_outer:after
{
    content: " ";
    position: absolute;
    top: 0px;
    border-top: 60px solid transparent;
    border-left: 30px solid aquamarine;
    left: 220px;
    margin: 0px;
}
div.banner_title_inner:before
{
    content: " ";
    position: absolute;
    top: 0px;
    left: -29px;
    border-top: 56px solid transparent;
    border-right: 29px solid black;
    border-bottom: 4px solid transparent;
    margin: 0px;
    z-index: 1;
}
div.banner_title_inner:after
{
    content: " ";
    position: absolute;
    top: 0px;
    left: 212px;
    border-top: 56px solid transparent;
    border-left: 29px solid black;
    border-bottom: 4px solid transparent;
    margin: 0px;
    z-index: 1;
}
div.partners
{
    position: relative;
}
div.kalendarium
{
    position: relative;
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
    height: 400px;
    justify-content: space-around;
    color: white;
    overflow-y: hidden;
}
div.kalendarium > div 
{
    width: 50%;
}
div.kalendarium > div > h3
{
    text-align: center;
    padding: 3px 0px;
    letter-spacing: 2px;
}
div.kalendarium > div > div.scroller
{
    position: inherit;
    display: flex;
    margin: auto;
    border-left: solid 4px aquamarine;
    border-right: solid 4px aquamarine;
    height: 100%;
    width: calc(100% - 10px);
    align-items: center;
}
div.ScrollElement
{
    display: flex;
    width: calc(100% - 74px);
    margin: 7px auto;
    height: calc(var(--hexagon_small)*1.7320508075688772935274463415059);
}
div.ScrollElement > div.HexboxTitle
{
    position: relative;
}
div.ScrollElement > div.HexboxTitle > div.outerhexbox
{
    top: calc((-1*var(--hexboxsize)*1.7320508075688772935274463415059)/2)
}
div.ScrollElement > div.Content
{
    position: relative;
    width: calc(100% - var(--hexagon_small)*1.5 - 1px);
    margin: 0px 0px 0px auto;
    height: 100%;
    background-color: aquamarine;
    z-index: -1;
}
div.ScrollElement > div.Content:before
{
    content: " ";
    position: absolute;
    top: 0px;
    left: calc(-1*var(--hexagon_small)/2 - 2px);
    height: inherit;
    border-right: calc(var(--hexagon_small)/2 + 2px) solid aquamarine;
    border-top: calc((var(--hexagon_small)*1.7320508075688772935274463415059)/2) solid transparent;
    border-bottom: calc((var(--hexagon_small)*1.7320508075688772935274463415059)/2) solid transparent;
    z-index: 2;
}

/*
## Carousel formating
*/
.carousel
{
    height: 200px;
}
.carousel-inner .carousel-item .outerhexbox
{
    position: relative;
    top: 0px;
}
.carousel-control-next, .carousel-control-prev
{
    width: 5% !important;
}


@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
    justify-content: space-around;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next{
      transform: translateX(25%) !important;
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev{
      transform: translateX(-25%) !important;
    }



}

.carousel-inner .carousel-item-end.carousel-item-prev,
.carousel-inner .carousel-item-start.carousel-item-next { 
  transform: translateX(0) !important;
}
.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

/*
## end carousel formating
*/
.temat {
    position: relative;
    background-color: #aeebd7;
    padding: 5%;
    margin: 10%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.fqa{
    position: relative;
    margin: 10%;
    background: #aeebd7;
    padding: 5%;
}
#gold_partner, #silver_partner, #brown_partner{
    position: relative;
    background-color: #aeebd7;
    display: flex;
    text-align: justify;
}
.logo_partners{
    position: relative;
    background-color: #454545;
    width: 50%;

    align-content: center;
    text-align: center;
    padding-top:3% ;
}
.info_partners {
    position: relative;
    width: 50%;
    margin: 7%; 
}
#media_partners, #event_partners {
    position: relative;
    background-color: aquamarine;
    text-align: center;
    padding-top: 1%;
}

