body {
    background-color: #454545 !important;
    position: relative;
    overflow-x: hidden;
}

header {
    position: sticky;
    display: flex;
    top: 0px;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    z-index: 100;
    background-color: black;
}
nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
nav.graphics {
    width: 250px;
}
nav.links {
    width: 50%;
}
nav a, nav a:hover, nav a:visited
{
    color: white;
    text-decoration: none;
}

main
{
    height: calc(100vh - 40px);
}


h1{
    width: fit-content;
    background-color: aqua;
    position: relative;
    text-align: center;
    padding: 10%;
}
div {
  background-color: transparent;
}
.main {
    background: none;
}
.logo_helper {
    display: flex;
}

.acces {
    position: relative;
    display: flex;
    width: fit-content;
    color: black;
    left: 8%;
    top: -100px;
}

div.outerhexbox 
{
    align-items: center;
    position: absolute;
    top: 200px;  
    text-align: center;
    background-color: aquamarine;
    width: 60px;
    margin-left: 1px;
    height: 104px;
    z-index: -2;
}

div.outerhexbox:before 
{
    content: " ";
    position: absolute;
    top: 0px;
    left: -32px;
    border-right: 32px solid aquamarine;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
    width: 0; height: 0;
    z-index: -2;
}

div.outerhexbox:after
{
    content: " ";
    position: absolute;
    top: 0px;
    left: 60px;
    border-left: 32px solid aquamarine;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
    width: 0; height: 0;
    z-index: -2;
}

div.innerhexbox
{
    float: left;
    text-align: center;
    background-color: black;
    width: 56px;
    height: 96px;
    margin-left: 2px;
    margin-top: 4px;
    border-radius: 2px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;

}
div.innerhexbox:before
{
    content: " ";
    border-top: 29px solid black;
    border-left: 48.1px solid transparent;
    border-right: 48.1px solid transparent;
    width: 0; height: 0;
    position: absolute;
    top: 37px;
    left: -60px;
    transform: rotate(90deg);
    z-index: -1;
}
div.innerhexbox:after
{
    content: " ";
    border-bottom: 29px solid black;
    border-left: 48.1px solid transparent;
    border-right: 48.1px solid transparent;
    width: 0; height: 0;
    position: absolute;
    top: 37px;
    left: 24px;
    transform: rotate(90deg);
    z-index: -1;
}
#data {
    left: 100px;
}
#zapis{ 
    left: 300px;
}
#odliczanie {
    left: 500px;
}

div.outerhexbox:hover
{
    background-color: white;
}
div.outerhexbox:hover div.outerhexbox:before 
{
    background-color: white;
}
div.outerhexbox:hover div.outerhexbox:after
{
    background-color: white;
}

div.banner_outer, div.banner_inner
{
    position: relative;
    width: 0px;
    height: 50px;
    margin: auto;
    background-color: black;
}
div.banner_title_outer
{
    position: absolute;
    width: 220px;
    height: 60px;
    background-color: aquamarine;
    margin-left: calc(50% - 110px);
    margin-top: 24px;
}
div.banner_title_inner
{
    position: absolute;
    width: 212px;
    height: 57px;
    background-color: black;
    margin-left: 4px;
    margin-top: 3px;
}
div.banner_outer:after 
{
    content: " ";
    position: absolute;
    width: 1400px;
    top: 0px;
    left: -700px;
    border-top: 109px solid aquamarine;
    border-left: 700px solid transparent;
    border-right: 700px solid transparent;
    margin: 0px;
    z-index: -2;
}
div.banner_inner:after 
{
    content: " ";
    position: absolute;
    width: 1400px;
    top: -5px;
    left: -700px;
    border-top: 109px solid black;
    border-left: 700px solid transparent;
    border-right: 700px solid transparent;
    margin: 0px;
    z-index: -1;
}
div.banner_title_outer:before
{
    content: " ";
    position: absolute;
    top: 0px;
    left: -30px;
    border-top: 60px solid transparent;
    border-right: 30px solid aquamarine;
    margin: 0px;
}
div.banner_title_outer:after
{
    content: " ";
    position: absolute;
    top: 0px;
    border-top: 60px solid transparent;
    border-left: 30px solid aquamarine;
    left: 220px;
    margin: 0px;
}
div.banner_title_inner:before
{
    content: " ";
    position: absolute;
    top: 0px;
    left: -29px;
    border-top: 56px solid transparent;
    border-right: 29px solid black;
    border-bottom: 4px solid transparent;
    margin: 0px;
    z-index: 1;
}
div.banner_title_inner:after
{
    content: " ";
    position: absolute;
    top: 0px;
    left: 212px;
    border-top: 56px solid transparent;
    border-left: 29px solid black;
    border-bottom: 4px solid transparent;
    margin: 0px;
    z-index: 1;
}

.temat {
    position: relative;
    background-color: aliceblue;
    padding: 5%;
    margin: 10%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}
#temat {
    position: relative;
    justify-content: center;
    margin: 100px;
    text-align: justify;
}

#kalendarium {
    position: relative; 
    display: flex;
    justify-content: center;
    background: red;
}
#kalendarz {
    position: relative;
    background: whitesmoke;
    width: 35%;
    text-align: center;
}
#pic2 {
    position: relative;
    background: blueviolet;
    width: 35%;
}
#FQA {
    position: relative;
    margin: 10%;
}