:root
{
    --main_color: #1eca94;
    --background_color_1: black;
    --background_color_2: #262626;
    --text_color_1: white;
    --text_color_2: #1eca94;
    --text_color_3: black;
    --deafult_font: 'Chakra Petch';
    --hexagon_bigger: 90px;
    --hexagon_big: 65px;
    --hexagon_normal: 50px;
    --hexagon_small: 40px;
    --hexagon_smaller: 30px;

    --hexagon_gold_border: #f2d31f;
    --hexagon_silver_border: #dedede;
    --hexagon_brown_border: #ab6100;
}
.hexsizebigger{--hexboxsize: var(--hexagon_bigger) !important;}
.hexsizebig{--hexboxsize: var(--hexagon_big) !important;}
.hexsizesmall{--hexboxsize: var(--hexagon_small) !important;}
.hexsizesmaller{--hexboxsize: var(--hexagon_smaller) !important;}

body {
    background-color: var(--background_color_2) !important;
    position: relative;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}
body *
{
    position: relative;
    font-family: var(--deafult_font);
}
h1,h2,h3,h4,h5,h6
{
    font-family: var(--deafult_font) !important;
    font-weight: 700 !important;
    margin: 0px auto !important;
    text-align: center !important;
}
h1{font-size: 60px !important;}
h2{font-size: 50px !important;}
h3{font-size: 40px !important;}
h4{font-size: 30px !important;}
h5{font-size: 20px !important;}
h6{font-size: 12px !important;}

span.fa 
{
    margin-left: 8px;
    margin-right: 8px;
    width: 20px;
}
p 
{
    width: 100% !important;
    margin: 2px 0px !important;
}

.backgroundvideo
{
    position: absolute;
    top: 0px;
    min-width: 1440px;
    width: 100%;
    z-index: -3;
}
@media only screen and (max-width: 1440px) {
    .backgroundvideo
    {
        left: calc((100vw - 1440px)/2);
    }
}
div.TitleBoxOuter
{
    position: absolute;
    width: 500px;
    height: 248px;
    background-color: var(--main_color);
    top: calc(30vh - 120px);
    z-index: 1;
}
div.TitleBoxOuter::after
{
    content: " ";
    position: absolute;
    top: 0px;
    left: 500px;
    border-top: 248px solid var(--main_color);
    border-right: 70px solid transparent;
    z-index: 1;
}
div.TitleBoxInner
{
    position: absolute;
    width: 497px;
    height: 240px;
    background-color: var(--background_color_2);
    top: 4px;
    z-index: 2;
}
div.TitleBoxInner::after
{
    content: " ";
    position: absolute;
    top: 0px;
    left: 497px;
    border-top: 240px solid var(--background_color_2);
    border-right: 68px solid transparent;
    z-index: 2;
}
h1.title 
{
    color: var(--text_color_2);
    padding-top: 25px;
}
span.description
{
    color: var(--text_color_1);
    display: inline-block;
    text-align: justify;
    margin: auto 0px auto 20px
}
header {
    position: sticky;
    display: flex;
    top: 0px;
    width: 100%;
    height: 40px;
    justify-content: flex-end;
    z-index: 100;
    background-color: var(--background_color_1);
    border-bottom: solid 4px var(--main_color);
}
nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
nav.graphics {
    width: 250px;
}
nav.links {
    width: 50%;
}
nav div.NavElement
{
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    background-color: inherit;
}
nav a, nav a:hover, nav a:visited
{
    position: initial;
    color: var(--text_color_1);
    text-decoration: none;
    transition: 0.2s;
}
nav div.NavElement:hover a, nav div.NavElement:hover a:hover, nav div.NavElement:hover a:visited
{
    color: var(--text_color_2);
    text-decoration: none;
}
main
{
    height: calc(120vh);
}

div.acces {
    position: absolute;
    color: var(--text_color_1);
    top: calc(52vh);
}
div.outerhexbox
{
    --hexboxsize: var(--hexagon_normal);
}
div.innerhexbox,
div.outerhexbox:before, div.outerhexbox:after,
div.innerhexbox:before, div.innerhexbox:after
{
    --hexboxsize: inherit;
}
div.outerhexbox 
{
    align-items: center;
    text-align: center;
    background-color: var(--main_color);
    width: var(--hexboxsize);
    margin-left: 1px;
    height: calc(var(--hexboxsize)*1.7320508075688772935274463415059);
    z-index: 1;
}
div.HexBoxContener
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 240px;
}
div.HexboxWrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
} 
div.HexboxWrapper.Gold 
{
    background-color: var(--background_color_2);
    background-image: radial-gradient(circle at 50% 50%, #bfa358 40px, #735e27 80px, var(--background_color_2) 130px) ;
    height: 240px;
}
div.HexboxWrapper.Silver 
{
    background-color: var(--background_color_2);
    background-image: radial-gradient(circle at 50% 50%, #bdbdbd 30px, #6e6e6e 60px, var(--background_color_2) 85px);
    height: 240px;
}
div#GoldLogo.outerhexbox,div#SilverLogo.outerhexbox,div#BrownLogo.outerhexbox
{
    position: absolute;
    margin: 0px auto;
}
div#GoldLogo.outerhexbox{background-color: var(--hexagon_gold_border);}
div#SilverLogo.outerhexbox{background-color: var(--hexagon_silver_border);}
div#BrownLogo.outerhexbox{background-color: var(--hexagon_brown_border);}
div.outerhexbox:before 
{
    content: " ";
    position: absolute;
    top: 0px;
    left: calc(-1* var(--hexboxsize)/2 - 2px);
    border-right: calc(var(--hexboxsize)/2 + 2px) solid var(--main_color);
    border-top: calc((var(--hexboxsize)*1.7320508075688772935274463415059)/2) solid transparent;
    border-bottom: calc((var(--hexboxsize)*1.7320508075688772935274463415059)/2) solid transparent;
    width: 0; height: 0;
    z-index: 1;
}
div#GoldLogo.outerhexbox:before{border-right: calc(var(--hexboxsize)/2 + 2px) solid var(--hexagon_gold_border);}
div#SilverLogo.outerhexbox:before{border-right: calc(var(--hexboxsize)/2 + 2px) solid var(--hexagon_silver_border);}
div#BrownLogo.outerhexbox:before{border-right: calc(var(--hexboxsize)/2 + 2px) solid var(--hexagon_brown_border);}
div.outerhexbox:after
{
    content: " ";
    position: absolute;
    top: 0px;
    left: var(--hexboxsize);
    border-left: calc(var(--hexboxsize)/2 + 2px) solid var(--main_color);
    border-top: calc((var(--hexboxsize)*1.7320508075688772935274463415059)/2) solid transparent;
    border-bottom: calc((var(--hexboxsize)*1.73205080756887729352744634150599)/2) solid transparent;
    width: 0; height: 0;
    z-index: 1;
}
div#GoldLogo.outerhexbox:after{border-left: calc(var(--hexboxsize)/2 + 2px) solid var(--hexagon_gold_border);}
div#SilverLogo.outerhexbox:after{border-left: calc(var(--hexboxsize)/2 + 2px) solid var(--hexagon_silver_border);}
div#BrownLogo.outerhexbox:after{border-left: calc(var(--hexboxsize)/2 + 2px) solid var(--hexagon_brown_border);}
div.innerhexbox
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--background_color_1);
    width: calc(var(--hexboxsize) - 4px);
    height: calc(var(--hexboxsize)*1.7320508075688772935274463415059 - 8px);
    margin-left: 2px;
    margin-top: 4px;
    z-index: 2;
}
div.innerhexbox:before
{
    content: " ";
    position: absolute;
    top: 0px;
    left: calc(-1*(var(--hexboxsize) - 4px)/2 - 2px);
    border-right: calc((var(--hexboxsize) - 4px)/2 + 2px) solid var(--background_color_1);
    border-top: calc((var(--hexboxsize)*1.7320508075688772935274463415059 - 8px)/2) solid transparent;
    border-bottom: calc((var(--hexboxsize)*1.7320508075688772935274463415059 - 8px)/2) solid transparent;
    width: 0; height: 0;
    z-index: 2;
}
div.innerhexbox:after
{
    content: " ";
    position: absolute;
    top: 0px;
    left: calc((var(--hexboxsize) - 4px));
    border-left: calc((var(--hexboxsize) - 4px)/2 + 2px) solid var(--background_color_1);
    border-top: calc((var(--hexboxsize)*1.7320508075688772935274463415059 - 8px)/2) solid transparent;
    border-bottom: calc((var(--hexboxsize)*1.7320508075688772935274463415059 - 8px)/2) solid transparent;
    width: 0; height: 0;
    z-index: 2;
}
div.innerhexbox > h6 
{
    position: absolute;
    display: inline-block;
    width: 100px;
    z-index: 3;
}
#logo, #data, #zapis, #odliczanie
{
    position: absolute;
}
#logo
{
    top: -40px;
    left: 12px;
}
#data {
    top: 0px;
    left: 120px;
}
#zapis{ 
    top: 65px;
    left: 225px;
}
#odliczanie {
    top: 0px;
    left: 330px;
}
div.banner_outer, div.banner_inner
{
    width: 0px;
    height: 50px;
    margin: auto;
    background-color: var(--background_color_1);
    padding-top: 30px;
    margin-top: -30px;
}
div.banner_outer
{
    height: 150px;
    background-color: var(--background_color_2);
}
div.banner_title_outer
{
    position: absolute;
    width: 300px;
    height: 78px;
    background-color: var(--main_color);
    margin-left: calc(50% - 150px);
    margin-top: 5px;
}
div.banner_title_inner
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 292px;
    height: 75px;
    background-color: var(--background_color_1);
    margin-left: 4px;
    margin-top: 3px;
}
div.banner_outer:after 
{
    content: " ";
    position: absolute;
    margin-top: 30px;
    width: 1800px;
    top: 0px;
    left: -900px;
    border-top: 109px solid var(--main_color);
    border-left: 900px solid transparent;
    border-right: 900px solid transparent;
    z-index: -2;
}
div.banner_inner:after 
{
    content: " ";
    position: absolute;
    margin-top: 30px;
    width: 1800px;
    top: -5px;
    left: -900px;
    border-top: 109px solid var(--background_color_1);
    border-left: 900px solid transparent;
    border-right: 900px solid transparent;
    z-index: -1;
}
div.banner_title_outer:before
{
    content: " ";
    position: absolute;
    top: 0px;
    left: -30px;
    border-top: 78px solid transparent;
    border-right: 30px solid var(--main_color);
    margin: 0px;
}
div.banner_title_outer:after
{
    content: " ";
    position: absolute;
    top: 0px;
    border-top: 78px solid transparent;
    border-left: 30px solid var(--main_color);
    left: 300px;
    margin: 0px;
}
div.banner_title_inner:before
{
    content: " ";
    position: absolute;
    top: 0px;
    left: -29px;
    border-top: 74px solid transparent;
    border-right: 29px solid var(--background_color_1);
    border-bottom: 4px solid transparent;
    margin: 0px;
    z-index: 1;
}
div.banner_title_inner:after
{
    content: " ";
    position: absolute;
    top: 0px;
    left: 292px;
    border-top: 74px solid transparent;
    border-left: 29px solid var(--background_color_1);
    border-bottom: 4px solid transparent;
    margin: 0px;
    z-index: 1;
}
div.banner_title_inner > h3
{
    text-transform: uppercase;
    font-size: 45px;
    color: white;
    z-index: 3;
}
div.kalendarium
{
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
    height: 400px;
    justify-content: space-around;
    color: var(--text_color_1);
    overflow-y: hidden;
}
div.kalendarium > div 
{
    width: 50%;
}
div.kalendarium > div > div.scroller
{
    position: inherit;
    display: flex;
    margin: auto;
    border-left: solid 2px var(--main_color);
    border-right: solid 2px var(--main_color);
    height: 100%;
    width: calc(100% - 10px);
    align-items: center;
}
div.ScrollElement
{
    display: flex;
    width: calc(100% - 74px);
    margin: 7px auto;
    height: calc(var(--hexagon_small)*1.7320508075688772935274463415059);
}
div.ScrollElement > div.HexboxTitle > div.outerhexbox
{
    position: absolute;
    top: calc((-1*var(--hexboxsize)*1.7320508075688772935274463415059)/2)
}
div.ScrollElement > div.Content
{
    width: calc(100% - var(--hexagon_small)*1.5 - 1px);
    margin: 0px 0px 0px auto;
    height: 100%;
    background-color: var(--main_color);
    z-index: -1;
}
div.ScrollElement > div.Content:before
{
    content: " ";
    position: absolute;
    top: 0px;
    left: calc(-1*var(--hexagon_small)/2 - 2px);
    height: inherit;
    border-right: calc(var(--hexagon_small)/2 + 2px) solid var(--main_color);
    border-top: calc((var(--hexagon_small)*1.7320508075688772935274463415059)/2) solid transparent;
    border-bottom: calc((var(--hexagon_small)*1.7320508075688772935274463415059)/2) solid transparent;
    z-index: 2;
}

/*
## Carousel formating
*/
div.partners .carousel
{
    height: 240px;
}
div.partners .carousel-inner .carousel-item .outerhexbox
{
    top: 0px;
}
div.partners .carousel-control-next,div.partners .carousel-control-prev
{
    width: 5% !important;
}


@media (max-width: 767px) {
    div.partners .carousel-inner .carousel-item > div {
        display: none;
    }
    div.partners .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

div.partners .carousel-inner .carousel-item.active,
div.partners .carousel-inner .carousel-item-next,
div.partners .carousel-inner .carousel-item-prev {
    display: flex;
    justify-content: space-around;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    div.partners .carousel-inner .carousel-item-end.active,
    div.partners .carousel-inner .carousel-item-next{
      transform: translateX(25%) !important;
    }
    
    div.partners .carousel-inner .carousel-item-start.active, 
    div.partners .carousel-inner .carousel-item-prev{
      transform: translateX(-25%) !important;
    }



}

div.partners .carousel-inner .carousel-item-end.carousel-item-prev,
div.partners .carousel-inner .carousel-item-start.carousel-item-next { 
  transform: translateX(0) !important;
}
div.partners .carousel-inner .carousel-item-end,
div.partners .carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

/*
## end carousel formating
*/
.temat {
    position: relative;
    background-color: var(--main_color);
    padding: 5%;
    margin: 10%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

div.partners > div.PartnerBanner{
    display: flex;
    text-align: justify;
}
.logo_partners{
    width: 50%;
    align-content: center;
    text-align: center;
}
.logo_partners > h5.Gold
{
    color: var(--hexagon_gold_border);
}
.logo_partners > h5.Silver
{
    color: var(--hexagon_silver_border);
}
.info_partners {
    width: 50%;
    background-color: var(--background_color_2);
}
div.partners h4{
    color: var(--main_color);
    padding: 10px 0px;
    width: 100%;
}
div.FqaContainer
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.FqaQuestionConteiner
{
    width: 80%;
}
h5.FqaQuestion
{
    color: var(--main_color);
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    border-bottom: solid 2px var(--main_color);
}
h5.FqaQuestion:hover{cursor: pointer;}
h5.FqaQuestion span {transition: 0.2s;}
h5.FqaQuestion#checked span{transform: rotate(90deg);}
span.FqaAnswear
{
    display: inline-block;
    overflow-y: hidden;
    color: var(--text_color_1);
    max-height: 0px;
    transition: 1s;
}
h5.FqaQuestion#checked + span
{
    max-height: 300px;
}
footer 
{
    background-color: var(--main_color);
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-end;
    height: 300px;
}
footer > div
{
    height: 60%;
}
footer > div > h5
{
    width: 100%;
}
footer > div.border-line
{
    height: 60%;
    width: 2px;
    background-color: var(--background_color_1);
}
footer > div.Partners
{
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}
footer > div.Partners > h5 
{
    width: 100%;
    padding: 10px 0px 0px 0px;
}
footer > div.Contacts
{
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.map-href {
    color: var(--bs-heading-color);
    text-decoration: none;
}
.contacts-right-href {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}


footer > div.Contacts > button
{
    width: 200px;
    padding: 4px;
    margin: 10px auto 0px auto;
    color: var(--text_color_1);
    background-color: var(--background_color_2);
    font-size: 14px;
    border-radius: 20px;
}
footer > div.Links
{
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
}
footer > div.Links > div.Links_left, 
footer > div.Links > div.Links_right
{
    width: 50%;
    height: 60%;
}
footer > div.Links a, 
footer > div.Links a:visited,
footer > div.Links a:active
{
    color: var(--text_color_3);
    text-decoration: none !important;
}
footer > div.Links a:hover
{
    color: var(--text_color_1) !important;
}
footer > div#footer_decoration
{
    position: absolute;
    top: -60px;
    left: -66px;
}
footer > div#footer_decoration > *, footer > div#footer_decoration
{
    background-color: var(--background_color_2);
    border-color: var(--background_color_2);
}
footer > div#footer_decoration::before, footer > div#footer_decoration::after,
footer > div#footer_decoration > div.innerhexbox::before, footer > div#footer_decoration > div.innerhexbox::after
{
    border-right-color: var(--background_color_2);
    border-left-color: var(--background_color_2);
} 
footer > div#footer_icon
{
    position: absolute;
    top: calc(100% - 106px);
    left: calc(100%);
}
footer > div#footer_icon > *, footer > div#footer_icon
{
    background-color: var(--background_color_2);
    border-color: var(--background_color_2);
}
footer > div#footer_icon::before, footer > div#footer_icon::after,
footer > div#footer_icon > div.innerhexbox::before, footer > div#footer_icon > div.innerhexbox::after
{
    border-right-color: var(--background_color_2);
    border-left-color: var(--background_color_2);
}
footer > div.Copyright
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--background_color_2);
    color: var(--main_color);
}


